#lotusTitleBar .portlet-tab, .lotusTitleBar .lotusTabs, .lotusTitleBar .portlet-tab {  
left:10px;
}
.lotusBanner {
overflow:hidden;
padding:5px 10px 5px 80px;
text-align:left;
}

#lotusFooter th, #lotusFooter td, .lotusFooter th, .lotusFooter td {	
	border:none;
	border-right:1px solid #E0E0E0;
}
#lotusFooter th.lotusLast, #lotusFooter td.lotusLast, .lotusFooter th.lotusLast, .lotusFooter td.lotusLast {	
	border:none;
}

.dj_ie h4 { word-break: break-all }

/* Start Calendar CSS */
/* The title of the month calendar */
.calMonthTitle {
	font-size: 1.2em; 
	font-weight: bold; 
	text-align: center;
}
/* The table for the month calendar */
.calTable {
	border: 1px solid #000000; 
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
}
/* The header row of the month calendar */
.calTableHead,th {
	border: 1px solid #000000; 
	background-color: #cdcdcd; 
	margin: 0px; 
	padding: 2px; 
	text-align: center;
}
/* The individual cells of the month calendar */
.calTable,td {
	border: 1px solid #000000;
}
/* The blank days before the start of the month and after
 *  the end of the month
 */
.calBlank {	 
	background-color: #efefef;
	padding: 0px;
	margin: 0px;
}
/* Each day of the month calendar */
.calDay {	
	background-color: #ffffff;
	height: 100px;
	vertical-align: top;
}
/* The number for the date at the top of each day
 *  on the month calendar
 */
.dayNum {
	text-align: right;
	background-color: #efefef;
	font-weight: bold;
	border: 1px solid #aaaaaa;
	margin: 0px 0px 1px 0px;
}
/* Contains all the data entries on each day of the month calendar */
.allDay {
	height: 100px;
	overflow: auto;
}
/* The data entries on the month calendar */
.calData {
	border: 1px solid #6BB239;
	background-color: #CEFBAD;
	text-align: left;
	margin-bottom: 1px;
	height: 1.2em;
	overflow: hidden;
}
/* Change the color of the data entry when moused over */
.calData:hover {
	background-color: #74CCF7;
	cursor: pointer;
}

/* ccCalDay Custom Control start */
/* Contains the day, date title and navigation */
.dayDateNav {
	text-align: center;
	margin-bottom: 2px;
	padding-bottom: 2px;
}
/* Add some style to the links when moused over */
.dayDateNav a:hover {
	text-decoration: none;
	border: 1px solid #0600BD;
}
/* The day, date title */
.dayDateTitle {
	font-size: 1.1em;
	font-weight: bold;
	color: #0600BD;
}
/* Contains the entire table for the hours and data */
.timeTable {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
/* This is present in both day view and week view */
.dayTimeCol {
	vertical-align: top;
	font-size: 1.1em;
	font-weight: bold;
	text-align: right;
	height: 60px;
	width: 70px;
}
.dayDataCol {
	vertical-align: top;
}
.dayTimeBlankCol {
	vertical-align: top;
	width: 70px;
}
/* Contains all of the "Big Day" elements */
.bigDayDateContainer {
	display: block;
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	border-style: solid;
}
/* The big day date number */
.bigDay {
	display: inline-block;
	font-size: 2.0em;
	position: relative;
	left: 2px;
}
/* The big week day */
.bigWeekDay {
	display: inline-block;
	position: relative;
	left: 2px;
	font-size: 1em;
	font-weight: bold;
}
/* The big Month/Year */
.bigMonthYear {
	display: inline-block;
	position: relative;
	left: 20px;
	font-size: 1em;
	font-weight: bold;
}
/* The container that holds the minute data */
/* This is present for both day and week views */
.dayHoursContainer {
	
}
.dayTimeMinutesContainer,#dayTimeMinutesContainer-0,#dayTimeMinutesContainer-1,#dayTimeMinutesContainer-2,#dayTimeMinutesContainer-3,#dayTimeMinutesContainer-4,#dayTimeMinutesContainer-5,#dayTimeMinutesContainer-6,#dayTimeMinutesContainer-7,#dayTimeMinutesContainer-8,#dayTimeMinutesContainer-9
#dayTimeMinutesContainer-10,#dayTimeMinutesContainer-11,#dayTimeMinutesContainer-12,#dayTimeMinutesContainer-13,#dayTimeMinutesContainer-14,#dayTimeMinutesContainer-15,#dayTimeMinutesContainer-16,#dayTimeMinutesContainer-17,#dayTimeMinutesContainer-18,
#dayTimeMinutesContainer-19,#dayTimeMinutesContainer-20,#dayTimeMinutesContainer-21,#dayTimeMinutesContainer-22,#dayTimeMinutesContainer-23,#dayTimeMinutesContainer-24 {
	postion: relative;
	z-index: 0;
}
#dayTimeMinutes-0,#dayTimeMinutes-1,#dayTimeMinutes-2,#dayTimeMinutes-3,#dayTimeMinutes-4,#dayTimeMinutes-5,#dayTimeMinutes-6,#dayTimeMinutes-7,#dayTimeMinutes-8,#dayTimeMinutes-9
#dayTimeMinutes-10,#dayTimeMinutes-11,#dayTimeMinutes-12,#dayTimeMinutes-13,#dayTimeMinutes-14,#dayTimeMinutes-15,#dayTimeMinutes-16,#dayTimeMinutes-17,#dayTimeMinutes-18,
#dayTimeMinutes-19,#dayTimeMinutes-20,#dayTimeMinutes-21,#dayTimeMinutes-22,#dayTimeMinutes-23,#dayTimeMinutes-24 {
	position: absolute;
	z-index: 0;
}
.weekDate {
	text-align: center;
	font-weight: bold;
}
.calViewNav {
	margin: 3px 0px 3px 0px;
	z-index: 100;
}
.contextual {
	display: none;
}
.hiddenField {
	display: none;
}